* Follow https://cloud.google.com/sql/docs/mysql/quickstart
* To read used example on https://github.com/prabh-me/Google-Cloud-SQL/blob/master/table_query.py

In [1]:
settings = {
   'user': 'root',
   'pass': 'password_you_set',
   'host': 'X.Y.Z.P',  # the IPv4 address of your instance, find on dashboard
     'db': 'guestbook'
}

In [2]:
import pymysql.cursors
import pandas as pd

In [3]:
connection = pymysql.connect(host=settings['host'], 
                             user=settings['user'], 
                             password=settings['pass'], 
                             db=settings['db'], charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)

In [4]:
with connection.cursor() as cursor:
        # Query an existing table
    sql = "select * from entries"
    cursor.execute(sql)
    
    df = pd.DataFrame(cursor.fetchall())

    connection.close()

In [5]:
df

       content  entryID     guestName
0  I got here!        1   first guest
1      Me too!        2  second guest