In [1]:
from streamz.dataframe import Random, DataFrame

In [2]:
source = Random(freq='5ms', interval='100ms')
source.x.sum()

Output()

In [3]:
sdf = (source - 0.5).cumsum()
sdf.tail()

Output()

In [4]:
p = (DataFrame({'raw': sdf.x,
                        'smooth': sdf.x.rolling('100ms').mean(),
                        'very-smooth': sdf.x.rolling('500ms').mean()})
     .plot(width=700)
    )

                                      x       y            z
2019-01-23 20:17:57.426944128  5.899404  4126.5 -4295.275451
2019-01-23 20:17:57.431944128  5.614123  4126.0 -4295.944949
2019-01-23 20:17:57.436944128  5.351276  4126.5 -4297.285790
2019-01-23 20:17:57.441944128  5.169048  4126.0 -4298.892271
2019-01-23 20:17:57.446944128  5.461185  4127.5 -4299.541866

In [5]:
DataFrame({'raw': sdf.x, 'smooth': sdf.x.rolling('100ms').mean(), 'very-smooth': sdf.x.rolling('500ms').mean()}).hvplot(width=700)

                                       x       y            z
2019-01-23 20:18:14.887802240  20.625558  5869.0 -6073.295987
2019-01-23 20:18:14.892802240  20.366605  5869.5 -6073.005789
2019-01-23 20:18:14.897802240  19.877952  5871.0 -6074.372774
2019-01-23 20:18:14.902802240  19.992786  5870.5 -6074.258570
2019-01-23 20:18:14.907802240  20.357527  5871.0 -6075.797383