In [ ]:
import sqlite3
import pandas as pd
from datetime import datetime

In [ ]:
db = sqlite3.connect('inventory.db')   # create a .db

In [4]:
cursor = db.cursor()

In [5]:
sql = """ CREATE TABLE items(id INTEGER PRIMARY KEY, item_type TEXT, date_time DATETIME, added_items INTEGER)"""
cursor.execute(sql)
db.commit()

In [6]:
item_type = 'car'
date_time = datetime.now()
added_items = 3
 
# Insert item 1
cursor.execute('''INSERT INTO items(item_type, date_time, added_items)
                  VALUES(?,?,?)''', (item_type, date_time, added_items))

In [8]:
db.commit()

In [9]:
pd.read_sql('SELECT * FROM items', sqlite3.connect('inventory.db'))

   id item_type                   date_time  added_items
0   1       car  2019-02-23 17:59:52.580957            3