https://www.pythoncentral.io/introduction-to-sqlite-in-python/

Conversion between python and SQL data types:

* None type is converted to NULL
* int type is converted to INTEGER
* float type is converted to REAL
* str type is converted to TEXT
* bytes type is converted to BLOB

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('mydb.db')   # create a .db

Create a cursor object and pass SQL statements to the cursor object to execute them

In [3]:
cursor = db.cursor()

In [4]:
sql = """ CREATE TABLE users(id INTEGER PRIMARY KEY, name TEXT, phone TEXT, email TEXT unique, password TEXT)"""
cursor.execute(sql)
db.commit()

Insert 2 users into the db

In [5]:
name1 = 'Andres'
phone1 = '3366858'
email1 = 'user@example.com'
# A very secure password
password1 = '12345'
 
name2 = 'John'
phone2 = '5557241'
email2 = 'johndoe@example.com'
password2 = 'abcdef'
 
# Insert user 1
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''', (name1,phone1, email1, password1))
print('First user inserted')

First user inserted

In [6]:
# Insert user 2
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''', (name2,phone2, email2, password2))
print('Second user inserted')
 
db.commit()

Second user inserted

Fetch data

In [7]:
cursor.execute('''SELECT name, email, phone FROM users''')
user1 = cursor.fetchone() #retrieve the first row
print(user1[0]) #Print the first column retrieved(user's name)
all_rows = cursor.fetchall()
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

Andres
John : johndoe@example.com, 5557241

Fetch data with WHERE condition

In [11]:
user_id = 2
cursor.execute('''SELECT name, email, phone FROM users WHERE id=?''', (user_id,))
user = cursor.fetchone()
print(user)

('John', 'johndoe@example.com', '5557241')

In [12]:
db.close()