* Have done https://cloud.google.com/sql/docs/postgres/quickstart
* Now follow https://github.com/robmarkcole/gcp-jupyter-sql/blob/master/example/query-sql-pandas.py

Dont forget to whitelist your IP for every database..!

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
settings = {
   'user': 'postgres',
   'pass': 'your_password',
   'host': 'X.Y.Z.P',
     'db': 'postgres'
}

In [3]:
url = 'postgresql+psycopg2://{user}:{pass}@{host}:5432/{db}'.format(**settings)
url

'postgresql+psycopg2://postgres:Highcloud1@104.198.191.194:5432/postgres'

In [4]:
engine = create_engine(url, client_encoding='utf8')

In [5]:
sql = "select * from guestbook"
print('Performing query...')
df = pd.read_sql(sql, con=engine)

Performing query...

In [6]:
df

      guestname      content  entryid
0   first guest  I got here!        1
1  second guest      Me too!        2