Using docker container, followed the [Getting Started tutorial](https://docs.timescale.com/latest/getting-started/creating-hypertables)

```
docker run -d --name timescaledb -p 5432:5432 -e POSTGRES_PASSWORD=password timescale/timescaledb:latest-pg11
```
```sql
-- We start by creating a regular SQL table

CREATE TABLE conditions (
  time        TIMESTAMPTZ       NOT NULL,
  location    TEXT              NOT NULL,
  temperature DOUBLE PRECISION  NULL,
  humidity    DOUBLE PRECISION  NULL
);

-- This creates a hypertable that is partitioned by time
--   using the values in the `time` column.

SELECT create_hypertable('conditions', 'time');

INSERT INTO conditions(time, location, temperature, humidity)
  VALUES (NOW(), 'office', 70.0, 50.0);
```

Then query from pandas

In [7]:
import pandas as pd

db_url = 'postgresql://postgres:password@localhost:5432/tutorial'
query = 'SELECT * FROM public.conditions'

In [8]:
df = pd.read_sql(query, db_url)

In [9]:
df

                              time location  temperature  humidity
0 2019-12-27 15:49:54.033855+00:00   office         70.0      50.0

In [10]:
df.iloc[0].time

Timestamp('2019-12-27 15:49:54.033855+0000', tz='UTC')