SQL Online Test - very easy

https://www.testdome.com/tests/sql-python-algorithms-online-test/93

------------------------------
Q1

Given the following data definition, write a query that returns the number of students whose first name is John.

```sql
TABLE students
   id INTEGER PRIMARY KEY,
   firstName VARCHAR(30) NOT NULL,
   lastName VARCHAR(30) NOT NULL
```

A1

```sql
SELECT COUNT(*)
FROM students
WHERE firstName IS 'John'
```

---------------------------

Q2

A table containing the students enrolled in a yearly course has incorrect data in records with ids between 20 and 100 (inclusive).
```sql
TABLE enrollments
  id INTEGER NOT NULL PRIMARY KEY
  year INTEGER NOT NULL
  studentId INTEGER NOT NULL
```
Write a query that updates the field 'year' of every faulty record to 2015.

A2

```sql
UPDATE enrollments
SET year = 2015
WHERE id BETWEEN 20 AND 100
```