https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html

issues https://stackoverflow.com/search?q=pandas+to_json

Convert the object to a JSON string.
Note NaNâ€™s and None will be converted to null and datetime objects will be converted to UNIX timestamps.

In [1]:
import pandas as pd
import json

In [2]:
pd.__version__

'0.22.0'

In [3]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row 1', 'row 2'],
                  columns=['col 1', 'col 2'])

In [4]:
df

      col 1 col 2
row 1     a     b
row 2     c     d

# Orients

 ## Columns - no example
 
Dict like with index from columns

In [10]:
df.to_json(orient='columns')

'{"col 1":{"row 1":"a","row 2":"c"},"col 2":{"row 1":"b","row 2":"d"}}'

In [11]:
pd.read_json(_, orient='columns')

      col 1 col 2
row 1     a     b
row 2     c     d

## Values - no example

Write the values to an array

In [7]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row 1', 'row 2'],
                  columns=['col 1', 'col 2'])
df.to_json(orient='values')

'[["a","b"],["c","d"]]'

In [8]:
pd.read_json(_, orient='values')

   0  1
0  a  b
1  c  d

## Tables

In [9]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row 1', 'row 2'],
                  columns=['col 1', 'col 2'])
print(df)
df.to_json(orient='table')

      col 1 col 2
row 1     a     b
row 2     c     d

'{"schema": {"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"}, "data": [{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row 2","col 1":"c","col 2":"d"}]}'