https://www.interviewcake.com/article/python/sql

To start the server and logon as root
```
mysql.server start && mysql -u root
```

```sql
USE BAKERY;
```

I am working through the excercises at the terminal but lets also work along using sqlalchemy

In [8]:
import pandas as pd

In [1]:
import sqlalchemy
print(sqlalchemy.__version__)

1.2.15

In [7]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.sql import select

user = 'root'
ip = 'localhost'
db = 'bakery'
engine = create_engine(f'mysql+pymysql://{user}@{ip}/{db}?charset=utf8', echo=False)

In [6]:
inspector = inspect(engine)

# Get table information
inspector.get_table_names()

['cakes', 'customers', 'orders']

Explore the `orders` table

In [5]:
inspector.get_columns('orders')

[{'name': 'order_id',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': True},
 {'name': 'cake_id',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False},
 {'name': 'customer_id',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': True,
  'autoincrement': False},
 {'name': 'pickup_date',
  'type': DATE(),
  'default': None,
  'comment': None,
  'nullable': False}]

We can see the top 10 entries, using sql
```sql
select * from bakery.orders limit 10;
```

Demo using pandas

In [9]:
sql = "select * from bakery.orders limit 10;"
df = pd.read_sql(sql, con=engine)
df

   order_id  cake_id customer_id pickup_date
0         1        2        None  2017-01-08
1         2        1        None  2017-09-17
2         3        3        None  2017-07-19
3         4        2        None  2017-12-03
4         5        2        None  2017-08-20
5         6        3        None  2017-04-10
6         7        3        None  2017-10-03
7         8        3        None  2017-08-08
8         9        3        None  2017-12-11
9        10        2        None  2017-12-10

And using sqlalchemy

In [11]:
result = engine.execute(sql)
 
for row in result:
    print(row)

(1, 2, None, datetime.date(2017, 1, 8))
(2, 1, None, datetime.date(2017, 9, 17))
(3, 3, None, datetime.date(2017, 7, 19))
(4, 2, None, datetime.date(2017, 12, 3))
(5, 2, None, datetime.date(2017, 8, 20))
(6, 3, None, datetime.date(2017, 4, 10))
(7, 3, None, datetime.date(2017, 10, 3))
(8, 3, None, datetime.date(2017, 8, 8))
(9, 3, None, datetime.date(2017, 12, 11))
(10, 2, None, datetime.date(2017, 12, 10))